<!DOCTYPE html>
<html>
    <head>
        <title>TRAP</title>
        <link rel = "stylesheet" href ="{{ url_for('static', filename= 'css/main.css')}}">
    </head>
<body>
    <p align = "left"><a href="/">
        <img src="{{url_for('static', filename='home.png')}}" class="btn">
    </a>
    </p>
    <h1>Trapezoidal Rule<h1>
    <br>
    <form action="/trap" method = 'post'>
        {% for message in get_flashed_messages() %}
            {% if fun %}
                <p>{{message}}</p>
            {% endif %}
        {% endfor %}
        <label for="function">Enter Function</label>
        <input type="text" name = 'function'>
        <br>
        <label for="upper_limit">Enter Upper Limit</label>
        <input type="text" name = 'upper_limit'>
        <br>
        <label for="lower_limit">Enter Lower Limit</label>
        <input type="text" name = 'lower_limit'>
        <br>
        <label for="lower_limit">Enter Number of Strips</label>
        <input type="text" name = 'n'>
        <br>
        <input type="submit" value = "Submit" id="submit">
    </form>
</body>    
</html>